<section class="ps ps-tabs--steps">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <span class="ps__kicker">Lorem Ipsum</span>
        <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
      </header>
      <div class="ps__desc">
        <p>
          Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
          maybe
          even better.
        </p>
      </div>
    </div>

    <div class="ps__main grid grid--12">
      <div class="span-1-12">
        <div class="c-tabs" data-tabs>

          <div class="c-tabs__tablist span-1-12" data-tablist>
            <button class="c-tabs__tab" data-tab>
              <svg width="32" height="32" viewBox="-2 -2 36 36">
                <g fill="none" fill-rule="evenodd">
                  <circle fill="currentColor" stroke="inherit" stroke-width="2" cx="16" cy="16" r="16" />
                  <circle fill="#FFF" stroke="none" class="dot" cx="16" cy="16" r="5" />
                </g>
              </svg>
              <span>Step 1</span>
            </button>
            <button class="c-tabs__tab" data-tab>
              <svg width="32" height="32" viewBox="-2 -2 36 36">
                <g fill="none" fill-rule="evenodd">
                  <circle fill="currentColor" stroke="inherit" stroke-width="2" cx="16" cy="16" r="16" />
                  <circle fill="#FFF" stroke="none" class="dot" cx="16" cy="16" r="5" />
                </g>
              </svg>
              <span>Step 2</span>
            </button>
            <button class="c-tabs__tab" data-tab>
              <svg width="32" height="32" viewBox="-2 -2 36 36">
                <g fill="none" fill-rule="evenodd">
                  <circle fill="currentColor" stroke="inherit" stroke-width="2" cx="16" cy="16" r="16" />
                  <circle fill="#FFF" stroke="none" class="dot" cx="16" cy="16" r="5" />
                </g>
              </svg>
              <span>Step 3</span>
            </button>
            <button class="c-tabs__tab" data-tab>
              <svg width="32" height="32" viewBox="-2 -2 36 36">
                <g fill="none" fill-rule="evenodd">
                  <circle fill="currentColor" stroke="inherit" stroke-width="2" cx="16" cy="16" r="16" />
                  <circle fill="#FFF" stroke="none" class="dot" cx="16" cy="16" r="5" />
                </g>
              </svg>
              <span>Step 4</span>
            </button>
          </div>

          <section class="c-tabs__tabpanel span-1-12" data-tabpanel>

          </section>
          <section class="c-tabs__tabpanel span-1-12" data-tabpanel>

          </section>
          <section class="c-tabs__tabpanel span-1-12" data-tabpanel>

          </section>
          <section class="c-tabs__tabpanel span-1-12" data-tabpanel>

          </section>
          <section class="c-tabs__tabpanel span-1-12" data-tabpanel>

          </section>
          <section class="c-tabs__tabpanel span-1-12" data-tabpanel>

          </section>

        </div>


        <a href="#">some link</a>
      </div>
    </div>
  </div>
</section>