@import '/variables.scss';



h1 {
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-size: 28px;
  line-height: 50px;
}


.nuxt-link-exact-active {
  color: $text-primary;
  font-weight: bold;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}