@import '/variables.scss';

h1 {
  font-size: 2.25rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.3;
}

.nuxt-link-exact-active {
  color: $text-primary;
  font-weight: bold;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
