@import '/typography.scss';
@import '/breakpoints.scss';
@import '/colors.scss';
@import '/mixins.scss';
@import '/variables.scss';

h2 {
  font-size: 60px;
  line-height: 71px;
  font-weight: 900;
  font-family: $base-font-primary;
  color: $text-primary;
}

h3 {
  font-size: 28px;
  line-height: 50px;
  font-weight: bold;
  font-family: $base-font-primary;
  color: $text-primary;
}

h4 {
  font-weight: bold;
  font-family: $base-font-primary;
  color: $text-primary;
}

p {
  font-size: 18px;
  line-height: 34px;
  font-family: $base-font-primary;
  color: $text-primary;
  font-weight: normal;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
