body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue,
    sans-serif;

  font-family: $base-font-primary;
  color: $text-primary;

  font-size: $body-font-size;
  line-height: 1.6;
}