<section class="ps ps--black ps-cta">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <img class="ps__kicker-icon" src="{{ path '/img/cta-eyebrow-icon.svg' }}" alt="" aria-hidden="true">
        <h2 class="ps__title" aria-level="">Collector Slices Kit</h2>
      </header>
      <div class="ps__desc">
        <p>
          It’s very easy to create stylish and beautiful prototypes for your future projects, both graphical
          and dynamic.
        </p>
      </div>
      {{ render '@button' }}
    </div>
  </div>
</section>