html {
  background: #111;
  font-size: .9rem;
}

a {
  color: #000;
}

.Tree-collectionLabel {
  font-weight: bolder;
  background-color: hsl(260, 15%, 96%);


}

.Tree-collectionLabel span {
  padding-left: 1.25em;
}

.Tree-collectionLabel:hover {
  background-color: hsl(260, 15%, 94%);
  text-decoration: underline;
}

.Header-title {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.Tree-title {
  color: hsl(325, 67%, 81%);
  font-weight: bold;
}

.Header-title svg {
  height: 30px;
  width: 150px;
  display: inline-block;
  margin-right: 0.5em;
}

.Header-title span {
  position: relative;
  top: 2px;
}

.Header {
  /* background: hsl(260, 35%, 37%); */
  background: #222;
  color: #fff;
  padding: 0.7em 0;
}

.Header-navToggle svg {
  color: inherit;
  fill: currentColor;
}

/* remove the underline under the title in the documentation pages */
.Document-header {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

a {
  color: inherit;
  font-weight: bold;
}

.Tree-collectionLabel {
  background-color: #333;
  color: inherit;
}

.Tree-collectionLabel:hover {
  background-color: #333;
}

.Tree-collectionLabel span::before {
  content: "-";
  color: hsl(325, 67%, 81%);
  background: none;
  top: auto;
}

.Tree-item.is-closed .Tree-collectionLabel span::before {
  content: "+";
}

.Browser-tab a {
  border-bottom: .25rem solid transparent;
}

.Browser-tab.is-active a {
  border-bottom-color: hsl(325, 67%, 81%);
}

.Preview {
  /* background-color: #333; */
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.Tree-collection.is-closed .Tree-collectionLabel span::before {
  background: none !important;
}



.Frame-panel--sidebar {
  background: #222;
  color: #fff;
}

/* e.g. Notes section */
.Browser-panel {
  padding: 2em 2.5em;
  /* background-color: #222; */
  color: #111;
}

.Prose,
.Prose--condensed {
  max-width: 90%;
}

.Prose--condensed li,
.Prose--condensed li>ul,
.Prose--condensed li>ol {
  margin-bottom: 1em;
}

.Prose>*:not(:last-child) {
  margin: 1.5em 0;
}

.Frame-panel--main {
  background: #fff;
}

/* documentation layout */
.Document {
  padding: 4em 3em;
}

.Document ul {
  margin: 2em 0;
}

.Document ul>li {
  margin-bottom: 0.5em;
}

.Document p {
  margin: 1.5em 0;
}

.Prose {
  line-height: 1.6;
}

.Pen,
.Frame-panel--main {
  /* background: #222; */
  /* color: #fff; */
}


.Pen-previewLink:link,
.Pen-previewLink:visited,
.Pen-previewLink:hover,
.Pen-previewLink:active,
.Browser-tab a:link,
.Browser-tab a:visited,
.Browser-tab a:hover,
.Browser-tab a:active {
  color: inherit;
}