html {
  background: #47c1af;
}
a {
  color: #000;
}
.Tree-collectionLabel {
  font-weight: bolder;
  background-color: hsl(260, 15%, 96%);

  span {
    padding-left: 1.25em;
  }
}
.Tree-collectionLabel:hover {
  background-color: hsl(260, 15%, 94%);
}

.Header-title {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.Header-title svg {
  height: 30px;
  width: 150px;
  display: inline-block;
  margin-right: 0.5em;
}

.Header-title span {
  position: relative;
  top: 2px;
}

.Header {
  /* background: hsl(260, 35%, 37%); */
  background: #fff;
  /* color: #fff; */
  padding: 0.7em 0;
}

.Header-navToggle svg {
  color: inherit;
  fill: currentColor;
}

/* remove the underline under the title in the documentation pages */
.Document-header {
  border: none;
}

.Frame-panel--sidebar {
  background: #fff;
  /* background-color: #f5f5f5;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/JoomlaPattern-Tile.svg");
  background-size: 200px; */
}

/* e.g. Notes section */
.Browser-panel {
  padding: 3em 2.5em;
  /* background: #fff; */
}

.Prose,
.Prose--condensed {
  max-width: 90%;
}

.Prose--condensed li,
.Prose--condensed li > ul,
.Prose--condensed li > ol {
  margin-bottom: 1em;
}

.Prose > *:not(:last-child) {
  margin: 1.5em 0;
}

.Frame-panel--main {
  background: #fff;
}

/* documentation layout */
.Document {
  padding: 4em 3em;
}

.Document ul {
  margin: 2em 0;
}

.Document ul > li {
  margin-bottom: 0.5em;
}

.Document p {
  margin: 1.5em 0;
}

.Prose {
  line-height: 1.6;
}
