<section class="ps ps-video-player ps-video-player--dark">
    <div class="ps__wrap">
        <div class="ps__head">
            <header class="ps__header">
                <span class="ps__kicker">Feature</span>
                <h2 class="ps__title h1 text--4xl" aria-level="">Video Highlights</h2>
            </header>
            <div class="ps__desc text--xl">
                <p>
                    These are some awesome videos that teach you how to use Prismic Slices to quickly create a great Web
                    site.
                </p>
            </div>
        </div>
        <div class="ps__main">
            <div class="ps__video-player" data-video-player>
                <div class="ps__video-player__playlist span-9-12" data-playlist>
                    <ul role="list" class="ps__video-player__playlist__list">
                        <li class="ps__video-player__playlist__item"><a class="ps__video-player__playlist__link"
                                href="https://www.youtube.com/embed/GVt3LO1Wjwc">Setup a blog with Gatsby and Prismic in
                                less than 10min</a>
                        </li>
                        <li class="ps__video-player__playlist__item"><a class="ps__video-player__playlist__link"
                                href="https://www.youtube.com/embed/yrOYLNiYtBQ">Prismic &amp; Gatsby - Initial setup /
                                custom type / first document</a></li>
                        <li class="ps__video-player__playlist__item"><a class="ps__video-player__playlist__link"
                                href="https://www.youtube.com/embed/3SKii_OLrHs">Why Ueno Chose Prismic</a></li>
                        <li class="ps__video-player__playlist__item"><a class="ps__video-player__playlist__link"
                                href="https://www.youtube.com/embed/are7ZZgA86I">CSS Best Practices: Introduction to The
                                Cascade</a></li>
                        <li class="ps__video-player__playlist__item"><a class="ps__video-player__playlist__link"
                                href="https://www.youtube.com/embed/huvysaySBrw">Why Next.js is An Effective
                                Framework</a></li>
                        <li class="ps__video-player__playlist__item"><a class="ps__video-player__playlist__link"
                                href="https://www.youtube.com/embed/HE2R86EZPMA">Three Things I wish I knew When I
                                started Working on the Web</a></li>
                        <li class="ps__video-player__playlist__item"><a class="ps__video-player__playlist__link"
                                href="https://www.youtube.com/embed/huvysaySBrw">Why Accessibility is Important</a></li>
                        <li class="ps__video-player__playlist__item"><a class="ps__video-player__playlist__link"
                                href="https://www.youtube.com/embed/huvysaySBrw">Implementing a More Effective Web Font
                                Loading Strategy</a>
                        </li>
                    </ul>
                </div>
                <div class="ps__video-container span-1-8" data-video hidden>
                    <iframe title="Video Player" width="560" height="315" src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>