.ps-video-player--dark {
  background-color: black;
  color: #fff; }

.ps__video-player {
  display: flex;
  flex-direction: column-reverse; }
  @media all and (min-width: 50em) {
    .ps__video-player {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: var(--h-padding); } }

.ps__video-player__playlist__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.ps__video-container {
  height: 0;
  width: 100%;
  padding-top: 56.2%;
  position: relative;
  margin-bottom: var(--c-margin);
  grid-row: 1; }
  @media all and (min-width: 50em) {
    .ps__video-container {
      margin-bottom: 0; } }
  .ps__video-container:focus {
    outline-color: var(--color-text-grey); }
  .ps__video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .ps__video-container iframe:focus {
      outline-color: var(--color-text-grey); }

.ps__video-player__playlist__item {
  border-top: 1px solid #e5e5e5; }
  .ps__video-player__playlist__item:last-of-type {
    border-bottom: 1px solid #e5e5e5; }
  @media all and (max-width: 50em) {
    .ps__video-player__playlist__item:first-of-type {
      border-top: none; } }
  .ps-video-player--dark .ps__video-player__playlist__item {
    border-color: var(--color-grey-20); }

.ps__video-player__playlist__link {
  position: relative;
  z-index: 1;
  display: block;
  cursor: pointer;
  font-weight: normal;
  color: inherit;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  padding: .75em;
  padding-left: .5em;
  padding-right: 3em;
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: right center; }
  .js-video-player .ps__video-player__playlist__link {
    background-image: url("../img/video-play-icon--grey.svg"); }
  .ps__video-player__playlist__link:hover {
    color: inherit; }
  .ps-video-player--dark .ps__video-player__playlist__link {
    color: var(--color-text-grey); }
    .js-video-player .ps-video-player--dark .ps__video-player__playlist__link {
      background-image: url("../img/video-play-icon--dark-grey.svg"); }
    .ps-video-player--dark .ps__video-player__playlist__link:visited {
      color: var(--color-text-grey); }
  .ps__video-player__playlist__link[aria-selected="true"] {
    font-weight: bold; }
    .js-video-player .ps__video-player__playlist__link[aria-selected="true"] {
      background-image: url("../img/video-play-icon--black.svg"); }
  .ps-video-player--dark .ps__video-player__playlist__link[aria-selected="true"] {
    color: #fff;
    font-weight: normal; }
    .js-video-player .ps-video-player--dark .ps__video-player__playlist__link[aria-selected="true"] {
      background-image: url("../img/video-play-icon--white.svg"); }
  .ps__video-player__playlist__link[href]:focus {
    background-repeat: no-repeat;
    outline-color: var(--color-text-grey);
    outline-offset: 5px; }
  .ps__video-player__playlist__link:visited {
    color: inherit; }
