<section class="ps ps-accordion ps-accordion--with-img">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <span class="ps__kicker">Hub</span>
        <h2 class="ps__title" aria-level="">Centralize customer data</h2>
      </header>
      <div class="ps__desc">
        <p>
          Test your implementation, review the data you’re collecting, and easily control where your data
          flows with tools for
          debugging and data management.
        </p>
      </div>
    </div>

    <div class="ps__main grid grid--12">
      <div class="span-1-6">
        <div class="ps__img">
          <img src=" {{ path '/img/illustrations/float.png' }}" alt="" width="500px" height="400" />
        </div>
      </div>
      <div class="span-7-12">
        {{ render '@accordion' }}
      </div>
    </div>
  </div>
</section>