<section class="ps ps-accordion ps-accordion--faq">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <span class="ps__kicker">FAQ</span>
        <h2 class="ps__title" aria-level="">Answers to common questions</h2>
      </header>
      <div class="ps__desc">
        <p>
          Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
          maybe
          even better.
        </p>
      </div>
    </div>

    <div class="ps__main grid grid--12">
      <div class="span-1-12">
        {{ render '@accordion' }}
      </div>
    </div>
  </div>
</section>