.ps-button {
  display: block;
  text-align: center;
  border-radius: 4px;
  padding: 1em 3em;
  text-decoration: none;
  font-weight: 500;
  margin-top: var(--v-margin); }
  .ps-button:focus {
    outline-offset: 4px;
    outline-color: #000; }
  .ps--black .ps-button:focus {
    outline-color: #fff; }

.ps-button--primary {
  background-color: var(--color--primary);
  color: #fff; }

.ps-button--secondary {
  background-color: #000;
  color: #fff; }
