//Colors
$grey-primary: #333;
$grey-secondary: #666;
$blue-primary: #007aff;
$blue-secondary: rgb(0, 80, 165);
$black-primary: #000;
$black-secondary: #353535;

//Text;
$text-primary: $grey-primary;
$text-secondary: $grey-secondary;
$link-primary: $blue-primary;
$link-hover: $blue-secondary;
