/* general slider styles are in common with ps-slider--images (Slider | Images component)*/
/* .ps-slider--testimonials specific styles */
.c-carousel__cards-container {
  overflow: hidden;
  border: 5px solid #eee; }

.c-carousel__cards-wrapper {
  display: flex;
  transition: transform 0.4s cubic-bezier(0.39, 0.03, 0.56, 0.57); }

.c-carousel__card {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  padding: .8rem; }
  @media all and (min-width: 640px) {
    .c-carousel__card {
      width: 50%; } }
  @media all and (min-width: 900px) {
    .c-carousel__card {
      width: 33.3333%; } }
  @media all and (min-width: 1200px) {
    .c-carousel__card {
      width: 25%; } }

.c-carousel__card__wrapper {
  padding: 1.6rem;
  background-color: var(--color--secondary);
  border-radius: 8px; }

.c-carousel__card__img {
  margin-bottom: var(--v-margin); }

.c-carousel__card__title {
  font-size: 1rem; }

.c-carousel__paddleNav button[aria-disabled="true"] svg {
  color: #aaa; }
