*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  min-height: 100vh; }
  @media all and (max-width: 640px) {
    body {
      overflow-x: hidden; } }

#main:focus {
  outline: none; }

a {
  text-decoration: none;
  color: var(--color--primary);
  font-weight: bold; }
  a:hover {
    text-decoration: underline;
    color: var(--color--primary--dark); }
  a:active {
    color: var(--color--primary--darker); }
  a:visited {
    color: #755EBB; }
  a:focus, a.focus-visible {
    outline: var(--focus-outline);
    outline-offset: 3px; }
  a:focus:not(:focus-visible) {
    outline: none; }
  .js-focus-visible a:focus:not(.focus-visible) {
    outline: none; }
  a:-moz-focusring {
    outline: none;
    background: none; }

img {
  max-width: 100%;
  height: auto; }

button {
  background: none;
  font: inherit;
  font-size: 1rem;
  cursor: pointer;
  border: none; }
  button:focus, button.focus-visible {
    outline: 2px solid #888;
    outline-offset: 4px; }
  button:focus:not(:focus-visible) {
    outline: none; }
  .js-focus-visible button:focus:not(.focus-visible) {
    outline: none; }
  button:-moz-focusring {
    outline: none;
    background: none; }

:root {
  --primary-hue: 167;
  --secondary-hue: 30;
  --color--primary: hsl(var(--primary-hue), 66%, 31%);
  --color--primary--dark: hsl(var(--primary-hue), 68%, 27%);
  --color--primary--darker: hsl(var(--primary-hue), 75%, 21%);
  --color--secondary: hsl(var(--secondary-hue), 27%, 94%);
  --color-grey-0: hsl(0, 0%, 0%);
  --color-grey-20: hsl(0, 0%, 20%);
  --color-grey-90: hsl(0, 0%, 90%);
  --color-grey-53: hsl(0, 0%, 53%);
  --color-text-grey: var(--color-grey-53);
  /* default font family is the static Inter font */
  --font-family: "Inter", Arial, sans-serif;
  /* in supporting browsers, the variable Inter font is used */
  --scrollbar: 0px;
  /* this variable is set using JS. See CS Utilities documentation for details */
  --h-padding: 2rem;
  --c-padding: 1.25rem;
  --c-margin: 1rem;
  --v-margin: 2.5rem;
  --v-space: 8vw;
  --focus-outline: 3px solid currentColor;
  /*******************************************************************************************************\
    *
    * Repsonsive Typography 
    * Two scales: one for small screens, one for large screens
    * And scaling the text between two viewport sizes
    * See https://www.smashingmagazine.com/2016/05/fluid-typography/ & accompanying Codepens for details 
    *
    ********************************************************************************************************/
  --scale--small: 1.125;
  --scale--large: 1.250;
  --text-min-4xl:  calc(1 * var(--scale--small) * var(--scale--small) * var(--scale--small) * var(--scale--small) * var(--scale--small));
  --text-max-4xl:  calc(1 * var(--scale--large) * var(--scale--large) * var(--scale--large) * var(--scale--large) * var(--scale--large));
  --text-min-3xl:  calc(1 * var(--scale--small) * var(--scale--small) * var(--scale--small) * var(--scale--small));
  --text-max-3xl:  calc(1 * var(--scale--large) * var(--scale--large) * var(--scale--large) * var(--scale--large));
  --text-min-2xl:  calc(1 * var(--scale--small) * var(--scale--small) * var(--scale--small));
  --text-max-2xl:  calc(1 * var(--scale--large) * var(--scale--large) * var(--scale--large));
  --text-min-xl:   calc(1 * var(--scale--small) * var(--scale--small));
  --text-max-xl:   calc(1 * var(--scale--large) * var(--scale--large));
  --text-min-l:    calc(1 * var(--scale--small));
  --text-max-l:    calc(1 * var(--scale--large));
  --text-min-small:  calc(1 / var(--scale--small));
  --text-max-small:  calc(1 / var(--scale--large)); }
  @supports (font-variation-settings: normal) {
    :root {
      --font-family: "Inter var", Arial, sans-serif; } }
  @media all and (max-width: 640px) {
    :root {
      --h-padding: 1.25rem; } }

[hidden] {
  display: none; }

/* Visually hide any element (mostly text) accessibly. 
   Support includes IE9+ */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

html {
  font-size: 1rem;
  font-family: var(--font-family); }

body {
  font-size: 1rem;
  font-weight: 350;
  line-height: 1.6; }

p {
  margin: 0 0 1.5em;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin-top: 0;
  font-weight: bold;
  color: inherit; }

h1 {
  font-weight: 700; }

h2 {
  font-weight: 600; }

h1,
.text--4xl,
.ps__title {
  line-height: 1.3;
  font-size: calc(1rem * var(--text-min-4xl)); }
  @media screen and (min-width: 40rem) {
    h1,
    .text--4xl,
    .ps__title {
      font-size: calc( calc(1rem * var(--text-min-4xl)) + (var(--text-max-4xl) - var(--text-min-4xl)) * (100vw - 40rem) / (80 - 40)); } }
  @media screen and (min-width: 80rem) {
    h1,
    .text--4xl,
    .ps__title {
      font-size: calc(1rem * var(--text-max-4xl)); } }

h2,
.text--3xl {
  line-height: 1.3;
  font-size: calc(1rem * var(--text-min-3xl)); }
  @media screen and (min-width: 40rem) {
    h2,
    .text--3xl {
      font-size: calc( calc(1rem * var(--text-min-3xl)) + (var(--text-max-3xl) - var(--text-min-3xl)) * (100vw - 40rem) / (80 - 40)); } }
  @media screen and (min-width: 80rem) {
    h2,
    .text--3xl {
      font-size: calc(1rem * var(--text-max-3xl)); } }

h3,
.text--2xl {
  line-height: 1.3;
  font-size: calc(1rem * var(--text-min-2xl)); }
  @media screen and (min-width: 40rem) {
    h3,
    .text--2xl {
      font-size: calc( calc(1rem * var(--text-min-2xl)) + (var(--text-max-2xl) - var(--text-min-2xl)) * (100vw - 40rem) / (80 - 40)); } }
  @media screen and (min-width: 80rem) {
    h3,
    .text--2xl {
      font-size: calc(1rem * var(--text-max-2xl)); } }

h4,
.text--xl,
.ps__desc {
  line-height: 1.2;
  font-size: calc(1rem * var(--text-min-xl)); }
  @media screen and (min-width: 40rem) {
    h4,
    .text--xl,
    .ps__desc {
      font-size: calc( calc(1rem * var(--text-min-xl)) + (var(--text-max-xl) - var(--text-min-xl)) * (100vw - 40rem) / (80 - 40)); } }
  @media screen and (min-width: 80rem) {
    h4,
    .text--xl,
    .ps__desc {
      font-size: calc(1rem * var(--text-max-xl)); } }

h5,
.text--l,
.ps__kicker,
.ps__card-item__title {
  font-size: calc(1rem * var(--text-min-l)); }
  @media screen and (min-width: 40rem) {
    h5,
    .text--l,
    .ps__kicker,
    .ps__card-item__title {
      font-size: calc( calc(1rem * var(--text-min-l)) + (var(--text-max-l) - var(--text-min-l)) * (100vw - 40rem) / (80 - 40)); } }
  @media screen and (min-width: 80rem) {
    h5,
    .text--l,
    .ps__kicker,
    .ps__card-item__title {
      font-size: calc(1rem * var(--text-max-l)); } }

h6,
.text--base {
  font-size: 1rem;
  margin-top: 2.5em; }

small,
.text--small {
  font-size: calc(1rem * var(--text-min-small)); }
  @media screen and (min-width: 40rem) {
    small,
    .text--small {
      font-size: calc( calc(1rem * var(--text-min-small)) + (var(--text-max-small) - var(--text-min-small)) * (100vw - 40rem) / (80 - 40)); } }
  @media screen and (min-width: 80rem) {
    small,
    .text--small {
      font-size: calc(1rem * var(--text-max-small)); } }

/************************************************************************************************\
 *
 * Styles common to all slices/components, such as spacing and layout of the common elements
 * including the kicker (a.k.a. eyebrow header), main heading, and description
 * The `.ps` prefix stands for "prismic slice"
 *
 ************************************************************************************************/
.ps {
  width: 100vw;
  width: calc(100vw - var(--scrollbar));
  position: relative;
  padding-left: var(--h-padding);
  padding-right: var(--h-padding);
  padding-top: var(--v-space);
  padding-bottom: var(--v-space); }

.ps--black {
  background-color: #000;
  color: #fff; }

.ps--beige {
  background-color: var(--color--secondary); }

.ps__wrap {
  margin: 0 auto; }
  @media all and (min-width: 1024px) {
    .ps__wrap {
      max-width: 80%; } }
  @media all and (min-width: 1200px) {
    .ps__wrap {
      max-width: 75%; } }

@media all and (min-width: 800px) {
  .ps__head {
    margin: 0 auto;
    text-align: center; } }

.ps__title {
  margin-bottom: 0; }

.ps__desc {
  max-width: 50ch;
  font-weight: 350; }
  @media all and (min-width: 800px) {
    .ps__desc {
      margin-left: auto;
      margin-right: auto; } }
  .ps__desc p {
    line-height: 1.4; }
  .ps__desc p:last-of-type {
    margin-bottom: 0; }

.ps__header + .ps__desc {
  margin-top: var(--v-margin); }

.ps__head + .ps__main {
  margin-top: calc(var(--v-margin) * 2); }

.ps__kicker {
  display: block;
  color: var(--color--primary);
  font-weight: 500;
  margin: 0 0 0.6em;
  line-height: 1.3; }

.ps__kicker-icon {
  display: inline-block;
  margin: 0 0 1rem; }

.ps__img {
  margin: 0 auto calc(var(--c-padding) * 2); }
  .ps__img img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }

.ps__card-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.ps__card-item {
  border-radius: 8px;
  margin-bottom: var(--h-padding); }

.ps__card-item--full {
  background-color: var(--color--secondary);
  padding: calc(var(--h-padding) * 1.25) var(--h-padding); }

.ps__card-item__title {
  margin-bottom: calc(var(--c-margin) / 2); }

.ps__card-item__content {
  margin-top: var(--c-padding); }
  .ps__card-item__content p:last-of-type {
    margin-bottom: 0; }

.ps__card-item__cta {
  text-align: center; }

@media all and (min-width: 40em) {
  .ps__card-item {
    display: inline-block;
    margin-right: var(--h-padding); }
  @supports (display: grid) {
    .ps__card-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-column-gap: var(--v-margin);
      grid-row-gap: calc(var(--v-margin) * 2); }
    .ps__card-item {
      margin-right: 0; } } }

/* slice main content area grid layout */
@media all and (min-width: 50em) {
  .ps__main.grid {
    display: grid;
    grid-auto-flow: dense; }
    .ps__main.grid.grid--align-center {
      align-items: center; }
    .ps__main.grid.grid--align-stretch {
      align-items: stretch; }
    .ps__main.grid.grid--align-top {
      align-items: top; }
  .ps__main.grid--12 {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--h-padding);
    grid-row-gap: var(--v-space); }
  .span-1-12 {
    grid-column: 1 / 13; }
  .span-1-11 {
    grid-column: 1 / 12; }
  .span-1-10 {
    grid-column: 1 / 11; }
  .span-1-9 {
    grid-column: 1 / 10; }
  .span-10-12 {
    grid-column: 10 / 13; }
  .span-1-8 {
    grid-column: 1 / 9; }
  .span-9-12 {
    grid-column: 9 / 13; }
  .span-1-7 {
    grid-column: 1 / 8; }
  .span-8-12 {
    grid-column: 8 / 13; }
  .span-1-6 {
    grid-column: 1 / 7; }
  .span-7-12 {
    grid-column: 7 / 13; }
  .span-1-5 {
    grid-column: 1 / 6; }
  .span-6-12 {
    grid-column: 6 / 13; }
  .span-1-4 {
    grid-column: 1 / 5; }
  .span-5-12 {
    grid-column: 5 / 13; }
  .span-1-3 {
    grid-column: 1 / 4; }
  .span-4-12 {
    grid-column: 4 / 13; }
  .span-1-2 {
    grid-column: 1 / 3; }
  .span-3-12 {
    grid-column: 3 / 13; }
  .span-8-12 {
    grid-column: 8 / 13; }
  .span-9-12 {
    grid-column: 9 / 13; } }

.c-accordion__heading {
  font-size: calc(1rem * var(--text-min-l)); }
  @media screen and (min-width: 40rem) {
    .c-accordion__heading {
      font-size: calc( calc(1rem * var(--text-min-l)) + (var(--text-max-l) - var(--text-min-l)) * (100vw - 40rem) / (80 - 40)); } }
  @media screen and (min-width: 80rem) {
    .c-accordion__heading {
      font-size: calc(1rem * var(--text-max-l)); } }
  .accordion-js .c-accordion__heading {
    margin: 0; }
  .c-accordion__heading > button {
    display: block;
    font: inherit;
    font-size: inherit;
    font-weight: 500;
    width: 100%;
    height: 100%;
    background-color: var(--color--secondary);
    text-align: left;
    line-height: 1.2;
    padding: var(--c-padding);
    padding-right: 80px;
    position: relative;
    border: 1px solid transparent;
    transition: outline 0.1s linear;
    border-radius: 8px;
    margin-bottom: var(--c-padding); }
    .c-accordion__heading > button:focus {
      outline: var(--focus-outline);
      z-index: 1; }
    .c-accordion__heading > button:focus:not(:focus-visible) {
      outline: none; }
    .c-accordion__heading > button.focus:not(.focus-visible) {
      outline: none; }
    .c-accordion__heading > button[aria-expanded="true"] {
      margin-bottom: 0;
      border-radius: 8px 8px 0 0; }

.accordion-js .c-accordion__panel {
  padding: calc(var(--c-padding) / 3) var(--c-padding) var(--c-padding);
  padding-right: 4rem;
  background-color: var(--color--secondary); }
  .accordion-js .c-accordion__panel[aria-hidden="true"] {
    margin-bottom: 0; }
  .accordion-js .c-accordion__panel[aria-hidden="false"] {
    border-radius: 0 0 8px 8px;
    margin-bottom: var(--c-padding); }

/* Styles for the accordion icon */
.c-accordion .accordion-icon {
  display: block !important;
  position: absolute;
  width: 0.75rem;
  height: 0.5rem;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
  transition: all 0.1s linear; }

.c-accordion [aria-expanded="true"] .accordion-icon {
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

.c-accordion [aria-hidden="true"] {
  display: none; }

.c-accordion [aria-hidden="false"] {
  display: block !important; }

.c-accordion__heading {
  font-size: calc(1rem * var(--text-min-l)); }
  @media screen and (min-width: 40rem) {
    .c-accordion__heading {
      font-size: calc( calc(1rem * var(--text-min-l)) + (var(--text-max-l) - var(--text-min-l)) * (100vw - 40rem) / (80 - 40)); } }
  @media screen and (min-width: 80rem) {
    .c-accordion__heading {
      font-size: calc(1rem * var(--text-max-l)); } }
  .accordion-js .c-accordion__heading {
    margin: 0; }
  .c-accordion__heading > button {
    display: block;
    font: inherit;
    font-size: inherit;
    font-weight: 500;
    width: 100%;
    height: 100%;
    background-color: var(--color--secondary);
    text-align: left;
    line-height: 1.2;
    padding: var(--c-padding);
    padding-right: 80px;
    position: relative;
    border: 1px solid transparent;
    transition: outline 0.1s linear;
    border-radius: 8px;
    margin-bottom: var(--c-padding); }
    .c-accordion__heading > button:focus {
      outline: var(--focus-outline);
      z-index: 1; }
    .c-accordion__heading > button:focus:not(:focus-visible) {
      outline: none; }
    .c-accordion__heading > button.focus:not(.focus-visible) {
      outline: none; }
    .c-accordion__heading > button[aria-expanded="true"] {
      margin-bottom: 0;
      border-radius: 8px 8px 0 0; }

.accordion-js .c-accordion__panel {
  padding: calc(var(--c-padding) / 3) var(--c-padding) var(--c-padding);
  padding-right: 4rem;
  background-color: var(--color--secondary); }
  .accordion-js .c-accordion__panel[aria-hidden="true"] {
    margin-bottom: 0; }
  .accordion-js .c-accordion__panel[aria-hidden="false"] {
    border-radius: 0 0 8px 8px;
    margin-bottom: var(--c-padding); }

/* Styles for the accordion icon */
.c-accordion .accordion-icon {
  display: block !important;
  position: absolute;
  width: 0.75rem;
  height: 0.5rem;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
  transition: all 0.1s linear; }

.c-accordion [aria-expanded="true"] .accordion-icon {
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

.c-accordion [aria-hidden="true"] {
  display: none; }

.c-accordion [aria-hidden="false"] {
  display: block !important; }

.ps-accordion__img {
  display: block;
  margin: 0 auto calc(var(--c-padding) * 2);
  background: var(--color--secondary); }

/* styles are in the alternate--list scss file (most of them are in common */
.ps-alternate--image-text__img {
  display: block;
  margin: calc(var(--v-margin) * 2) auto var(--c-margin); }
  @media all and (min-width: 50em) {
    .ps-alternate--image-text__img {
      margin: var(--c-margin) auto; } }

.ps-alternate .ps__header *,
.ps-alternate .ps__desc {
  text-align: left; }

.ps-alternate .ps__head {
  margin-bottom: var(--v-margin); }
  @media all and (min-width: 40em) {
    .ps-alternate .ps__head {
      margin-bottom: calc(var(--v-margin) * 1.5); } }

.ps-alternate .ps__header + .ps__desc {
  margin-top: .5rem; }

.ps-alternate__ctas {
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 40rem) {
    .ps-alternate__ctas {
      flex-direction: row; } }

.ps-alternate .ps-button {
  flex: 1;
  margin-top: var(--h-padding); }
  @media all and (min-width: 40rem) {
    .ps-alternate .ps-button {
      margin-right: var(--h-padding);
      margin-top: 0; } }
  .ps-alternate .ps-button:last-of-type {
    margin-right: 0; }

.ps-alternate__module {
  margin-bottom: var(--v-margin); }

.ps-alternate__module__title {
  font-size: 1rem;
  margin-top: 1em; }

@media all and (min-width: 40rem) {
  @supports (display: grid) {
    .ps-alternate--list .ps-alternate__module {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: var(--h-padding); }
    .ps-alternate--list .ps-alternate__module__title {
      margin-top: 0; } }
  .ps-alternate--grid .ps-alternate__module {
    display: inline-block;
    width: calc(50% - var(--h-padding));
    margin-right: var(--h-padding); }
    .ps-alternate--grid .ps-alternate__module:nth-of-type(even) {
      margin-right: 0; } }

.ps-button,
a.ps-button {
  display: block;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 1em 3em;
  text-decoration: none;
  font: inherit;
  line-height: 1.3;
  font-weight: 500;
  transition: all .1s linear;
  margin-top: var(--v-margin); }

.ps-button--primary,
a.ps-button--primary {
  background-color: var(--color--primary);
  color: #fff; }
  .ps-button--primary:hover,
  a.ps-button--primary:hover {
    background-color: var(--color--primary--dark); }

.ps-button--secondary,
a.ps-button--secondary {
  background-color: #000;
  color: #fff; }
  .ps-button--secondary:hover,
  a.ps-button--secondary:hover {
    background-color: var(--color-grey-20); }

.ps-button--ghost,
a.ps-button--ghost {
  background-color: transparent;
  color: black;
  border: 2px solid black; }
  .ps-button--ghost:hover, .ps-button--ghost:focus,
  a.ps-button--ghost:hover,
  a.ps-button--ghost:focus {
    background-color: var(--color-grey-20);
    color: #fff; }

.ps-cta {
  text-align: center; }

@media all and (min-width: 30em) {
  .ps-cta .ps-button {
    display: inline-block;
    margin-top: var(--h-padding); } }

.ps-customer-logos .ps__main {
  margin-top: 0; }

.ps-customer-logos .ps__kicker {
  text-align: center; }

.ps-customer-logos__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin: var(--v-margin) auto; }

.ps-customer-logos__item {
  display: inline-block;
  margin: var(--v-margin);
  margin-right: calc(2 * var(--h-padding)); }
  .ps-customer-logos__item a {
    display: block; }

.ps-customer-logos__link {
  color: inherit;
  text-decoration: underline;
  font-weight: normal;
  display: block;
  text-align: center; }

@supports (display: grid) {
  .ps-customer-logos__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-column-gap: var(--h-padding);
    grid-row-gap: var(--v-margin);
    align-items: center; }
  .ps-customer-logos__item {
    margin: 0;
    text-align: center; } }

.ps-features .ps__card-item {
  text-align: center; }

.ps-features .ps-button {
  display: inline-block; }

@media all and (min-width: 40em) {
  .ps-pricing-table__option:nth-of-type(2) {
    background-color: #fff;
    border: 1px solid; } }

.ps-pricing-table__option__price {
  display: block;
  color: var(--color-text-grey); }

.ps-pricing-table__option__features {
  list-style: none;
  padding: 0; }

.ps-pricing-table__option__feature {
  margin-bottom: 1em;
  padding-left: 2rem;
  position: relative; }
  .ps-pricing-table__option__feature .feature-icon {
    color: var(--color--primary);
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.5em; }
  .ps-pricing-table__option__feature.not-included .feature-icon {
    color: #888; }

@supports (display: grid) {
  @media all and (min-width: 50em) {
    .c-tabs {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-columns: subgrid;
      grid-column-gap: var(--h-padding); } } }

.c-tabs__underline {
  position: absolute;
  border-bottom: 4px solid var(--color--primary);
  z-index: -1;
  transition: all .35s ease-in-out; }

.c-tabs__tablist-wrapper {
  margin-bottom: calc(var(--v-margin) * 1.5); }

.c-tabs__tablist {
  position: relative;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid var(--color-grey-90); }
  @media all and (min-width: 50em) {
    .c-tabs__tablist[aria-orientation="vertical"] {
      flex-direction: column;
      align-items: flex-start;
      border-bottom: none;
      border-left: 4px solid var(--color-grey-90); } }
  .c-tabs__tablist hr {
    position: absolute;
    bottom: calc(var(--scrollbar) + 5px); }

.c-tabs__tab {
  display: inline-block;
  font-weight: normal;
  text-align: left;
  padding: 1.5rem 0;
  margin-right: 2rem;
  transition: all .1s linear;
  position: relative;
  border-bottom: 4px solid transparent;
  border-left: none;
  bottom: -4px;
  line-height: 1; }
  .c-tabs__tab:last-of-type {
    margin-right: 0; }
  .c-tabs__tab[aria-selected="true"] {
    color: var(--color--primary);
    font-weight: bold;
    border-bottom: 4px solid currentColor; }
  @media all and (min-width: 50em) {
    [aria-orientation="vertical"] .c-tabs__tab {
      padding: .5rem 1.5rem;
      margin-bottom: var(--v-margin);
      bottom: 0;
      left: -4px;
      border-left: 4px solid transparent;
      border-bottom: none; }
      [aria-orientation="vertical"] .c-tabs__tab:last-of-type {
        margin-bottom: 0; } }
  [aria-orientation="vertical"] .c-tabs__tab[aria-selected="true"] {
    border-bottom: none;
    border-left: 4px solid currentColor; }
  .c-tabs__tab:hover {
    color: var(--color--primary); }

.c-tabs__tabpanel:focus {
  outline: 2px solid #888;
  outline-offset: 5px; }

/* tabs content specific styles */
.c-tabs__tabpanel__modules {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: var(--h-padding);
  grid-row-gap: var(--v-margin); }

.c-tabs__tabpanel__module__img {
  margin-bottom: 1rem; }

.ps-video-player--dark {
  background-color: black;
  color: #fff; }

.ps__video-player {
  display: flex;
  flex-direction: column-reverse; }
  @media all and (min-width: 50em) {
    .ps__video-player {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: var(--h-padding); } }

.ps__video-player__playlist__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.ps__video-container {
  height: 0;
  width: 100%;
  padding-top: 56.2%;
  position: relative;
  margin-bottom: var(--c-margin);
  grid-row: 1; }
  @media all and (min-width: 50em) {
    .ps__video-container {
      margin-bottom: 0; } }
  .ps__video-container:focus {
    outline-color: var(--color-text-grey); }
  .ps__video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .ps__video-container iframe:focus {
      outline-color: var(--color-text-grey); }

.ps__video-player__playlist__item {
  border-top: 1px solid #e5e5e5; }
  .ps__video-player__playlist__item:last-of-type {
    border-bottom: 1px solid #e5e5e5; }
  @media all and (max-width: 50em) {
    .ps__video-player__playlist__item:first-of-type {
      border-top: none; } }
  .ps-video-player--dark .ps__video-player__playlist__item {
    border-color: var(--color-grey-20); }

.ps__video-player__playlist__link {
  position: relative;
  z-index: 1;
  display: block;
  cursor: pointer;
  font-weight: normal;
  color: inherit;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  padding: .75em;
  padding-left: .5em;
  padding-right: 3em;
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../img/video-play-icon--grey.svg"); }
  .ps__video-player__playlist__link:hover {
    color: inherit; }
  .ps-video-player--dark .ps__video-player__playlist__link {
    color: var(--color-text-grey);
    background-image: url("../img/video-play-icon--dark-grey.svg"); }
    .ps-video-player--dark .ps__video-player__playlist__link:visited {
      color: var(--color-text-grey); }
  .ps__video-player__playlist__link[aria-selected="true"] {
    background-image: url("../img/video-play-icon--black.svg");
    font-weight: bold; }
  .ps-video-player--dark .ps__video-player__playlist__link[aria-selected="true"] {
    background-image: url("../img/video-play-icon--white.svg");
    color: #fff;
    font-weight: normal; }
  .ps__video-player__playlist__link[href]:focus {
    background-repeat: no-repeat;
    outline-color: var(--color-text-grey);
    outline-offset: 5px; }
  .ps__video-player__playlist__link:visited {
    color: inherit; }
