<button class="dw-toggle" id="dw-toggle" hidden>
    See terms and conditions >
</button>

<div class="dw-panel" id="dw-panel">
    <p>
        The terms and conditions are visible by default. This ensures you provide a minimum viable experience in the
        absolute
        worst case scenario.
    </p>

</div>