.c-slider__dotNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-slider__dotNav__dot {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  text-align: center;

  &::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: #000;
    border-radius: 50%;
  }

  &[aria-selected="true"] {
    &::before {
      background: var(--color--primary);
    }
  }


  &:focus,
  &.focus-visible {
    outline: none;
    border-color: var(--color--primary);
  }
}

.c-slider[data-slider] {
  position: relative;
  padding: 0 3rem;
}

.c-slider__paddleNav {

  .c-slider__paddleNav__prev,
  .c-slider__paddleNav__next {
    width: 2.75rem;
    height: 2.75rem;
    position: absolute;
    top: 50%;
    margin-top: -1.375rem;
    border: 2px solid #eee;
    border-radius: 50%;

    line-height: 0;

    svg {
      display: inline;
    }

    &:focus,
    &:active {
      outline: none;
      border-color: currentColor;

    }
  }

  .c-slider__paddleNav__prev {
    left: 0;
  }

  .c-slider__paddleNav__next {
    right: 0;
  }
}

.c-slider__slides-container {
  border: 5px solid hsl(187, 41%, 70%);
}

.c-slider__slide {
  width: 100%;
  border: 2px solid;
  padding: 10vw;
  margin-bottom: var(--v-space);
  transition: visibility .4s linear;

  &[data-hidden="true"] {
    visibility: hidden;
  }

  &[data-hidden="false"] {
    visibility: visible;
  }
}

.js-slider {
  .c-slider__slides-container {
    overflow: hidden;
    display: flex;
  }

  .c-slider__slides-wrapper {
    width: 100%;
    display: flex;
    transition: transform .4s linear;
  }

  .c-slider__slide {
    margin: 0;
    flex-shrink: 0; // to make sure slides inside the flex container take up 100% of the container and don't shrink to their content size.
  }


}