.ps-slider--images .c-slider__slide__figure {
  margin: 0;
  padding: 0;
  width: 100%;

  img {
    width: 100%;
  }

  figcaption {
    padding: var(--c-padding);
    max-width: 80ch;
    margin: 0 auto;
  }
}