<section class="ps ps-slider ps-slider--images">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <span class="ps__kicker">Lorem Ipsum</span>
        <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
      </header>
      <div class="ps__desc">
        <p>
          Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
          maybe
          even better.
        </p>
      </div>
    </div>

    <div class="ps__main grid grid--12">
      <div class="span-1-12">
        <div class="c-slider" data-slider>
          <div class="c-tabs__tablist span-1-12" data-slider-dot-nav>
            <button class="c-slider__dot" aria-label="ADD_LABEL_HERE"></button>
            <button class="c-slider__dot" aria-label="ADD_LABEL_HERE"></button>
            <button class="c-slider__dot" aria-label="ADD_LABEL_HERE"></button>
            <button class="c-slider__dot" aria-label="ADD_LABEL_HERE"></button>
            <button class="c-slider__dot" aria-label="ADD_LABEL_HERE"></button>
            <button class="c-slider__dot" aria-label="ADD_LABEL_HERE"></button>
          </div>

          <div data-slider-paddle-nav>
            <button class="slider__nav__prev" aria-label="Previous"></button>
            <button class="slider__nav__next" aria-label="Next"></button>
          </div>
        </div>



        <!-- make sure to provide a readable label for each section to be used in the URL hash -->
        <section id="PROVIDE_LABEL_1" class="c-slider__slide span-1-12" data-slide>
          <h3 class="c-slider__slide__title">Slide 1</h3>

        </section>
        <section id="PROVIDE_LABEL_2" class="c-slider__slide span-1-12" data-slide>
          <h3 class="c-slider__slide__title">Slide 2</h3>

        </section>
        <section id="PROVIDE_LABEL_3" class="c-slider__slide span-1-12" data-slide>
          <h3 class="c-slider__slide__title">Slide 3</h3>

        </section>
        <section id="PROVIDE_LABEL_4" class="c-slider__slide span-1-12" data-slide>
          <h3 class="c-slider__slide__title">Slide 4</h3>

        </section>
        <section id="PROVIDE_LABEL_5" class="c-slider__slide span-1-12" data-slide>
          <h3 class="c-slider__slide__title">Slide 5</h3>

        </section>
        <section id="PROVIDE_LABEL_6" class="c-slider__slide span-1-12" data-slide>
          <h3 class="c-slider__slide__title">Slide 6</h3>

        </section>

      </div>

    </div>
  </div>
  </div>
</section>