<section class="ps ps-slider ps-slider--images">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <span class="ps__kicker">The Slider</span>
        <h2 class="ps__title" aria-level="">A Collection of Slides</h2>
      </header>
      <div class="ps__desc">
        <p>
          The image slider is a very controversial UI component. It should therefore be used wisely. It can loop, too.
          <small>(But should it?!)</small>
        </p>
      </div>
    </div>

    <div class="ps__main grid grid--12">
      <div class="span-1-12">

        <div class="c-slider" data-slider>
          <!-- the dotNav is generated in the JS according to the number of slides / -->
          <!---->
          <!-- paddleNav (prev and next buttons) provided here for flexibility (choose and use the icon you want) -->
          <div data-slider-paddlenav hidden>
            <button class="slider__nav__prev" aria-label="Previous Slide" data-prev>
              <!-- place icon here -->
              <svg width="8" height="12">
                <g fill="none" fill-rule="evenodd">
                  <path d="M-8-6h24v24H-8z" />
                  <path fill="#000" fill-rule="nonzero" d="M7.41 10.59L2.83 6l4.58-4.59L6 0 0 6l6 6z" />
                </g>
              </svg>
            </button>
            <button class="slider__nav__next" aria-label="Next Slide" data-next>
              <!-- place icon here -->
              <svg width="8" height="12">
                <g fill="none" fill-rule="evenodd">
                  <path d="M-8-6h24v24H-8z" />
                  <path fill="#000" fill-rule="nonzero" d="M.59 10.59L5.17 6 .59 1.41 2 0l6 6-6 6z" />
                </g>
              </svg>
            </button>
          </div>

          <!-- make sure to provide a readable label for each section to be used in the URL hash & dotNav buttons -->
          <div data-slides>
            <div id="PROVIDE_LABEL_1" class="c-slider__slide span-1-12" data-slide>
              Slide 1
            </div>
            <div id="PROVIDE_LABEL_2" class="c-slider__slide span-1-12" data-slide>
              Slide 2
            </div>
            <div id="PROVIDE_LABEL_3" class="c-slider__slide span-1-12" data-slide>
              Slide 3
            </div>
            <div id="PROVIDE_LABEL_4" class="c-slider__slide span-1-12" data-slide>
              Slide 4
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>