##    ## ######## ##     ## ########     ######  ######## ######## ########   ######  
###   ## ##        ##   ##     ##       ##    ##    ##    ##       ##     ## ##    ## 
####  ## ##         ## ##      ##       ##          ##    ##       ##     ## ##       
## ## ## ######      ###       ##        ######     ##    ######   ########   ######  
##  #### ##         ## ##      ##             ##    ##    ##       ##              ## 
##   ### ##        ##   ##     ##       ##    ##    ##    ##       ##        ##    ## 
##    ## ######## ##     ##    ##        ######     ##    ######## ##         ######  

We've configured mostly everything,
now in your project files add the following settings to your \e[4`nuxt.config.js`\e[0m file.

\e[1mIn the 'head' section of the \e[4`nuxt.config.js`\e[0m file add the follwing scripts:\e[0m
script: [
  { src: 'https://cdn.polyfill.io/v2/polyfill.min.js?features=Element.prototype.classList' },
  { src: 'https://cdn.jsdelivr.net/npm/focus-visible@5.0.2/dist/focus-visible.min.js' }
],

\e[Then you can add the follwing css path and module settings for perfect Prismic & Nuxt harmony:\e[0m
css: ['@/sliceMachine/styles/styles.scss'],

modules: [
  ['@nuxtjs/prismic', {
    endpoint: 'https://<REPOSITORY>.cdn.prismic.io/api/v2',
    linkResolver(doc) {
      if (doc.uid === 'page') {
        return doc.uid === 'homepage' ? '/' : `/${doc.uid}`
      }
      return '/'
    },
    routes: [
      '/:uid',
      '/',
    ]
  }]
],

\e[After you've done this,\e[0m
\e[quit the prismic cli 'ctrl + c' and launch your project by running:\e[0m
`cd {{ projectName }}; npm run dev;` 
