Additional `nuxt.config.js` configuration (roughly):

modules: [
  ['@nuxtjs/prismic', {
    endpoint: 'https://<REPOSITORY>.cdn.prismic.io/api/v2',
    linkResolver(doc) {
      if (doc.type === 'page') {
        return doc.uid === 'homepage' ? '/' : `/${doc.uid}`
      }
      return '/'
    },
    routes: [
      '/:uid',
      '/',
    ]
  }]
]

👆 Make sure you add/understand this before running the project
