/*********************************************************\
 * Alternate | Image + Text component-specific styles.
 * Main general styles are in the _alternate.scss file
 *********************************************************/

.ps-alternate--image-text__img {
  display: block;
  margin: calc(var(--v-margin) * 2) auto var(--c-margin);

  @media all and (min-width: 50em) {
    margin: var(--c-margin) auto;
  }
}