// General color names
$sm-primary-color: #5ece7b !default;
$c-green-secondary: #9ee2b0 !default;
$c-dark-primary: #1d1f22 !default;
$c-dark-secondary: #737680 !default;
$c-gray-primary: #6a6e7e !default;
$c-gray-secondary: #bebfc4 !default;
$c-light-primary: #f1f2f3 !default;
$c-light-secondary: #fff !default;
$c-pink-primary: #e22326 !default;
$c-pink-secondary: #fff8f7 !default;
$c-yellow-primary: #ffde3b !default;
$c-yellow-secondary: #fffced !default;
$c-blue-primary: #69c !default;
$c-blue-secondary: #f5f7fa !default;
$c-black: #000 !default;
$c-white: #fff !default;

// Accent
$c-accent-primary: $c-green-primary !default;
$c-accent-secondary: $c-green-secondary !default;

// Text
$c-text-primary: $c-dark-primary !default;
$c-text-secondary: $c-gray-secondary !default;
$c-text-on-light: $c-black !default;
$c-text-on-dark: $c-white !default;
$c-text-link: $c-dark-secondary !default;
$c-text-link-hover: $c-dark-primary !default;

// Background
$c-bg-primary: $c-light-primary !default;
$c-bg-secondary: $c-light-secondary !default;

// Border

$c-border: $c-light-primary;
