$spacer-small: 0.25rem !default;
$spacer: 0.5rem !default;
$spacer-medium: 1rem !default;
$spacer-big: 1.25rem !default;
$spacer-extra-big: 2.5rem !default;

$max-width-container: $screen-lg-min !default;
