@media all and (min-width: 40em) {
  .ps-pricing-table__option:nth-of-type(2) {
    background-color: #fff;
    border: 1px solid; } }

.ps-pricing-table__option__price {
  display: block;
  color: var(--color-text-grey); }

.ps-pricing-table__option__features {
  list-style: none;
  padding: 0; }

.ps-pricing-table__option__feature {
  margin-bottom: 1em;
  padding-left: 2rem;
  position: relative; }
  .ps-pricing-table__option__feature .feature-icon {
    color: var(--color--primary);
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.5em; }
  .ps-pricing-table__option__feature.not-included .feature-icon {
    color: #888; }
