@media all and (min-width: 40em) {
  .ps-pricing-table__option:nth-of-type(2) {
    background-color: #fff;
    border: 1px solid; } }

.ps-pricing-table__option__price {
  display: block;
  color: var(--color-text-grey); }

.ps-pricing-table__option__features {
  list-style: none;
  padding: 0; }
  .ps-pricing-table__option__features li {
    margin-bottom: 1em;
    padding-left: var(--h-padding);
    position: relative; }
    .ps-pricing-table__option__features li::before {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Echeck_circle-24px%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg fill='none'%3E%3Cpath d='M-2-2h24v24h-24z'/%3E%3Cpath d='M10 0c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm-2 15l-5-5 1.41-1.41 3.59 3.58 7.59-7.59 1.41 1.42-9 9z' fill='%2347C1AF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 97% 97%;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -.5em; }
    .ps-pricing-table__option__features li.feature-not-included::before {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eremove_circle_outline-24px%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg opacity='.4' fill='none'%3E%3Cpath d='M-2-2h24v24h-24z'/%3E%3Cpath d='M5 9v2h10v-2h-10zm5-9c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z' fill='%23000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E"); }
