<section class="ps ps-tabs-text">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <span class="ps__kicker">Lorem Ipsum</span>
        <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
      </header>
      <div class="ps__desc">
        <p>
          Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
          maybe
          even better.
        </p>
      </div>
    </div>

    <div class="ps__main grid grid--12">
      <div class="span-1-12">

      </div>
    </div>
  </div>
</section>