<section class="ps ps-alternate ps-alternate--image-text">
    <div class="ps__wrap">
        {{!-- <div class="ps__head">
            
        </div> --}}
        <div class="ps__main grid grid--12">

        </div>
    </div>
</section>