*,
*::after,
*::before {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Focus styles / keyboard-only focus styles in supporting browsers */
*:focus {
    outline: 2px dotted $sapphire;
    outline-offset: 3px;
}
*:focus:not(:focus-visible) {
    outline: none;
}

// LINKS
a {
    color: $link-color;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-family: $serif-font;
    line-height: 1.3;
    margin-top: 0;
    font-weight: 700;
}

h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0.75em;
    font-family: $sans-font;
}

.h1 {
    font-size: calc(1.3em + 2vw);
}

h2,
.h2 {
    font-size: calc(1.3em + 1vw);
}

h3,
.h3 {
    font-size: calc(1.2em + 1.1vw);
}

h4,
.h4 {
    font-size: calc(1em + 0.75vw);
}

h5,
.h5 {
    font-size: calc(1em + 0.5vw);
}

h6,
.h6 {
    font-size: calc(1em + 0.25vw);
}

object {
    width: 100%;
    max-width: 100%;
    // margin-bottom: 4rem;
    font-family: Lato;
}

p {
    margin: 0;
    margin-bottom: 1.75em;
}

img {
    max-width: 100%;
}

figure {
    margin: 4rem 0;
    padding: 0;

    img {
        width: 100%;
        max-width: 100%;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0.5em 0;
    }
}
