/*******************************************************************************************************\
 * Source: https://www.smashingmagazine.com/2016/05/fluid-typography/ & accompanying Codepens 
 ********************************************************************************************************/
@mixin fluid-type($min-screen, $max-screen, $min-value, $max-value) {
  & {
        font-size: $min-value;

        @media screen and (min-width: $min-screen) {
            font-size: calc($min-value + ($max-value - $min-value) * (100vw - $min-screen) / ($max-screem - $min-screen));
        }

        @media screen and (min-width: $max-screen) {
            font-size: $max-value;
        }
  }
}