

:root {
    --color--primary: hsl(167, 66%, 31%);
    --color--secondary: hsl(30, 27%, 94%);

    --color-grey-0: hsl(0, 0%, 0%);
    --color-grey-20: hsl(0, 0%, 20%);
    

    /* default font family is the static Inter font */
    --font-family: "Inter", Arial, sans-serif;

    /* in supporting browsers, the variable Inter font is used */
    @supports (font-variation-settings: normal) {
        --font-family: "Inter var", Arial, sans-serif;
    }

    --scrollbar: 0px; /* this variable is set using JS. See CS Utilities documentation for details */
    --h-padding: 1.875rem; // horizontal padding for the slice relative to the page borders; 30px default when font size is base 16
    --c-padding: 1.25rem; // component-level padding
    --c-margin: 1.5rem; // component-level padding
    --v-margin: 2.5rem; // vertical component-level external margin (margin between two components)
    --v-space: 8vw; // vertical space within sections

    @media all and (max-width: 640px) {
        --h-padding: 1.25rem;
    }

    --focus-outline: 3px solid currentColor;
}

