$sans-font: "Lato", sans-serif;
$serif-font: "Source Serif pro", serif;
$green: #1aae7c;
$sapphire: #0c2b64;
$link-color: #5099fc;
$vertical-space: 8rem;
$text-grey: 647184;
$blue: #005dea;

html {
    font-size: 0.85rem;

    @media all and (max-width: 640px) {
        overflow-x: hidden;
    }

    @media all and (min-width: 640px) {
        font-size: calc(1rem + 0.05vw);
    }

    @media all and (min-width: 1400px) {
        font-size: calc(1rem + 0.2vw);
    }

    @media all and (min-width: 1700px) {
        font-size: calc(1rem + 0.3vw);
    }

    @media all and (min-width: 2000px) {
        font-size: calc(1rem + 0.4vw);
    }
}

body {
    font-size: 1rem;
    font-family: $sans-font;
    line-height: 1.6;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    @media all and (max-width: 640px) {
        overflow-x: hidden;
    }
}

.main {
    grid-column: 2 / 3;
    padding: 0;
    padding-right: 4rem;

    @media all and (max-width: 1024px) {
        padding: 1em 2em;
    }
}

#main {
    margin-top: 4rem;
}

#main:focus {
    outline: none;
}

// @import "_fonts.scss";

@import "_foundation.scss";
@import "../../_includes/components/**/*.scss";
